<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title> Amazon </title>
	{% endif %}
</head>
<body>
	<center><h1>Welcome to Mini Amazon</h1></center>
</body>
	{% block body %}

	{% endblock body %}

</body>
<footer>
	<p> &copy; Mini Amazon 2019</p>
	{% if title=='Contact'%}
	<a href="/about">About</a><br>
	<a href="/">Home</a>
	{% elif title=='About'%}
	<a href="/contact">Contact</a><br>
	<a href="/">Home</a>
	{% else%}
	<a href="/contact">Contact</a><br>
	<a href="/about">About</a><br>
	{% endif%}
	{% if session %}

		<a href="/logout"> logout </a>
	{% endif%}
</footer>
</html>